.filter {
  padding-right: 20px;
}

.input-container input, .input-container select {
  display: block;
  padding: 10px;
  background: #e5e5e5;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width:100%;
  box-sizing: border-box;
}
