body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  text-align: left;
  padding: 20px;
  font-weight: bold;
  color: white;
  display: block;
  margin-bottom: 20px;
}

.header a {
  text-decoration: none;
}

.header img {
  width: 200px;
}

.dashboard {
  padding: 0 50px 0 25px;
  display: flex;
}

.dashboard .table {
  flex-grow: 1;
}

.plot {
  margin: 0 auto;
  max-width: 75%;
}

.recharts-layer.recharts-scatter-symbol {
  width: 2px;
  height: 2px;
}

.recharts-layer.recharts-scatter-symbol path {
  width: 2px;
  height: 2px;
}


