body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  text-align: left;
  padding: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  display: flex;
}

.header a {
  text-decoration: none;
}

.header img {
  display: block;
  width: 200px;
}

.header .menu {
  flex: 1;
  align-self: flex-end;
  margin: 0;
}

.container {
  padding: 0 20px 0 20px;
}

.sources {
  display: flex;
}

.sources .plot-icon {
  color: #4d9dd6;
}

.sources .table {
  flex-grow: 1;
  text-align: center;
}

.sources .table .sourceType {
  width: 30% !important;
}

.plot {
  margin: 0 auto;
  max-width: 75%;
}

.recharts-layer.recharts-scatter-symbol {
  width: 2px;
  height: 2px;
}

.recharts-layer.recharts-scatter-symbol path {
  width: 2px;
  height: 2px;
}


.blue-button {
  background: #4d9dd6;
  padding: 9px 25px;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}


